<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ymatou.StaticContent.QueryServices.Impl.Properties.Settings.YmtStaticContentConnectionString"
            connectionString="Data Source=192.168.1.230;Initial Catalog=YmtStaticContent;Persist Security Info=True;User ID=ymt_admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>